<table class="claims-table">
  <thead>
    <tr>
      <th>Claim ID</th>
      <th>Policyholder Name</th>
      <th>Date of Claim</th>
      <th>Claim Type</th>
      <th *ngIf="userRole === adminRole">Status</th>
      <th>Amount Claimed</th>
      <th *ngIf="[managerRole, adminRole].includes(userRole)">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let claim of claims">
      <tr>
        <td>{{ claim.claimId }}</td>
        <td>{{ claim.name }}</td>
        <td>{{ claim.claimDate | date:'mediumDate' }}</td>
        <td>{{ claim.claimType }}</td>
        <td *ngIf="userRole === adminRole">{{ claim.status }}</td>
        <td align="right">{{ claim.amount | currency }}</td>
        <td *ngIf="[managerRole, adminRole].includes(userRole)">
          <a href="javascript:void(0)" (click)="onClaimView(claim)">View</a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>