<table class="claims-table">
  <thead>
    <tr>
      <th>Claim ID</th>
      <th>Policyholder Name</th>
      <th>Date of Claim</th>
      <th>Claim Type</th>
      @if (userRole === adminRole) {
      <th>Status</th>
      }
      <th>Amount Claimed</th>
      @if ([managerRole, adminRole].includes(userRole)) {
      <th>Action</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (claim of claims; track claim.claimId) {
    <tr>
      <td>{{ claim.claimId }}</td>
      <td>{{ claim.name }}</td>
      <td>{{ claim.claimDate | date:'mediumDate' }}</td>
      <td>{{ claim.claimType }}</td>
      @if (userRole === adminRole) {
      <td>{{ claim.status }}</td>
      }
      <td align="right">{{ claim.amount | currency }}</td>
      @if ([managerRole, adminRole].includes(userRole)) {
      <td><a href="javascript:void(0)" (click)="onClaimView(claim)">View</a></td>
      }
    </tr>
    }
  </tbody>
</table>