<table class="policy-table">
  <thead>
    <tr>
      <th>Policy ID</th>
      <th>Policyholder Name</th>
      <th>Policy Type</th>
      <th>Coverage Amount</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let policy of policies">
      <tr>
        <td>{{ policy.policyId }}</td>
        <td>{{ policy.policyholderName }}</td>
        <td>{{ policy.policyType }}</td>
        <td>{{ policy.coverageAmount | currency }}</td>
        <td>{{ policy.startDate | date:'mediumDate' }}</td>
        <td>{{ policy.endDate | date:'mediumDate' }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>